<div>
    <app-header></app-header>
</div>


<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper" style="margin-top: 80px;">
    <div class="sidebar">
        <h3 style="color: #fff;padding-bottom: 20px;">My Dashboard</h3>
        <ul>
            <li><a routerLink="/MyBookings">My Details</a></li>
            <li><a>My Bookings</a></li>
            <li><a>Logout</a></li>
           
        </ul> 
      
    </div>
    <div class="main_content">
        <div class="header"><h2 style="padding-top: 15px;">MY ACCOUNT</h2></div>  
 
    </div>
        
    </div>


<div>
    <app-footer></app-footer>
</div>