<app-header></app-header>

<head>
    
</head>

<div class="container">
  
    <input type="radio" name="radio1"><strong style="padding-left: 7px;">One Way</strong>
    <input type="radio" name="radio1" style="margin-left:20px"><strong style="padding-left: 7px;">Return</strong>
  

    <div class="row">
        <div class="col-lg-2">
            <label for="exampleFlgFrom"><strong>FROM</strong></label>
            <select class="form-control custom-select" formControlName="from" id="exampleFlgFrom">
                <option class="text-white bg-warning">
                    Select City
                  </option>
              <option value="IXA">
                Agartala (IXA)
              </option>
              <option value="IXD">
                Allahabad (IXD)
              </option>
              <option value="IXU">
                Aurangabad (IXU)
              </option>
              <option value="BEK">
                Bareli (BEK)
              </option>
              <option value="BLR">
                Bengaluru (BLR)
              </option>
              <option value="BUP">
                Bhatinda (BUP)
              </option>
              <option value="BHO">
                Bhopal (BHO)
              </option>
              <option value="BBI">
                Bhubaneswar (BBI)
              </option>
              <option value="PAB">
                Bilaspur (PAB)
              </option>
              <option value="BKB">
                Bikaner (BKB)
              </option>
              <option value="IXC">
                Chandigarh (IXC)
              </option>
              <option value="MAA">
                Chennai (MAA)
              </option>
              <option value="COK">
                Cochin (COK)
              </option>
              <option value="CJB">
                Coimbatore (CJB)
              </option>
              <option value="IXB">
                Darjeeling (IXB)
              </option>
              <option value="DED">
                Dehradun (DED)
              </option>
              <option value="DEL">
                Delhi (DEL)
              </option>
              <option value="DBD">
                Dhanbad (DBD)
              </option>
              <option value="GOI">
                Goa (GOI)
              </option>
              <option value="GOP">
                Gorakhpur (GOP)
              </option>
              <option value="GAU">
                Guwahati (GAU)
              </option>
              <option value="GWL">
                Gwalior (GWL)
              </option>
              <option value="HYD">
                Hyderabad (HYD)
              </option>
              <option value="IDR">
                Indore (IDR)
              </option>
              <option value="JLR">
                Jabalpur (JLR)
              </option>
              <option value="JAI">
                Jaipur (JAI)
              </option>
              <option value="JSA">
                Jaisalmer (JSA)
              </option>
              <option value="IXJ">
                Jammu (IXJ)
              </option>
              <option value="IXW">
                Jamshedpur (IXW)
              </option>
              <option value="JDH">
                Jodhpur (JDH)
              </option>
              <option value="CNN">
                Kannur (CNN)
              </option>
              <option value="KNU">
                Kanpur (KNU)
              </option>
              <option value="KLH">
                Kolhapur (KLH)
              </option>
              <option value="CCU">
                Kolkata (CCU)
              </option>
              <option value="KTU">
                Kota (KTU)
              </option>
              <option value="LKO">
                Lucknow (LKO)
              </option>
              <option value="LUH">
                Ludhiana (LUH)
              </option>
              <option value="IXM">
                Madurai (IXM)
              </option>
              <option value="IXE">
                Mangalore (IXE)
              </option>
              <option value="BOM">
                Mumbai (BOM)
              </option>
              <option value="MYQ">
                Mysore (MYQ)
              </option>
              <option value="NAG">
                Nagpur (NAG)
              </option>
              <option value="NDC">
                Nanded (NDC)
              </option>
              <option value="PAT">
                Patna (PAT)
              </option>
              <option value="PBD">
                Porbandar (PBD)
              </option>
              <option value="PNQ">
                Pune (PNQ)
              </option>
              <option value="RPR">
                Raipur (RPR)
              </option>
              <option value="RAJ">
                Rajkot (RAJ)
              </option>
              <option value="IXR">
                Ranchi (IXR)
              </option>
              <option value="RTC">
                Ratnagiri (RTC)
              </option>
              <option value="SLV">
                Shimla (SLV)
              </option>
              <option value="SXR">
                Srinagar (SXR)
              </option>
              <option value="STV">
                Surat (STV)
              </option>
              <option value="TRV">
                Thiruvananthapuram (TRV)
              </option>
              <option value="TIR">
                Tirupati (TIR)
              </option>
              <option value="UDR">
                Udaipur (UDR)
              </option>
              <option value="BDQ">
                Vadodara (BDQ)
              </option>

              <option value="VNS">
                Varanasi (VNS)
              </option>
              <option value="VTZ">
                Vishakhapatnam (VTZ)
              </option>
              
            </select>
        </div>
        <div class="col-lg-2">
            <label for="exampleFlgTo"><strong>TO</strong></label>
            <select class="form-control custom-select" formControlName="from" id="exampleFlgTo">
                <option class="text-white bg-warning">
                    Select City
                  </option>
                  <option value="IXA">
                    Agartala (IXA)
                  </option>
                  <option value="IXD">
                    Allahabad (IXD)
                  </option>
                  <option value="IXU">
                    Aurangabad (IXU)
                  </option>
                  <option value="BEK">
                    Bareli (BEK)
                  </option>
                  <option value="BLR">
                    Bengaluru (BLR)
                  </option>
                  <option value="BUP">
                    Bhatinda (BUP)
                  </option>
                  <option value="BHO">
                    Bhopal (BHO)
                  </option>
                  <option value="BBI">
                    Bhubaneswar (BBI)
                  </option>
                  <option value="PAB">
                    Bilaspur (PAB)
                  </option>
                  <option value="BKB">
                    Bikaner (BKB)
                  </option>
                  <option value="IXC">
                    Chandigarh (IXC)
                  </option>
                  <option value="MAA">
                    Chennai (MAA)
                  </option>
                  <option value="COK">
                    Cochin (COK)
                  </option>
                  <option value="CJB">
                    Coimbatore (CJB)
                  </option>
                  <option value="IXB">
                    Darjeeling (IXB)
                  </option>
                  <option value="DED">
                    Dehradun (DED)
                  </option>
                  <option value="DEL">
                    Delhi (DEL)
                  </option>
                  <option value="DBD">
                    Dhanbad (DBD)
                  </option>
                  <option value="GOI">
                    Goa (GOI)
                  </option>
                  <option value="GOP">
                    Gorakhpur (GOP)
                  </option>
                  <option value="GAU">
                    Guwahati (GAU)
                  </option>
                  <option value="GWL">
                    Gwalior (GWL)
                  </option>
                  <option value="HYD">
                    Hyderabad (HYD)
                  </option>
                  <option value="IDR">
                    Indore (IDR)
                  </option>
                  <option value="JLR">
                    Jabalpur (JLR)
                  </option>
                  <option value="JAI">
                    Jaipur (JAI)
                  </option>
                  <option value="JSA">
                    Jaisalmer (JSA)
                  </option>
                  <option value="IXJ">
                    Jammu (IXJ)
                  </option>
                  <option value="IXW">
                    Jamshedpur (IXW)
                  </option>
                  <option value="JDH">
                    Jodhpur (JDH)
                  </option>
                  <option value="CNN">
                    Kannur (CNN)
                  </option>
                  <option value="KNU">
                    Kanpur (KNU)
                  </option>
                  <option value="KLH">
                    Kolhapur (KLH)
                  </option>
                  <option value="CCU">
                    Kolkata (CCU)
                  </option>
                  <option value="KTU">
                    Kota (KTU)
                  </option>
                  <option value="LKO">
                    Lucknow (LKO)
                  </option>
                  <option value="LUH">
                    Ludhiana (LUH)
                  </option>
                  <option value="IXM">
                    Madurai (IXM)
                  </option>
                  <option value="IXE">
                    Mangalore (IXE)
                  </option>
                  <option value="BOM">
                    Mumbai (BOM)
                  </option>
                  <option value="MYQ">
                    Mysore (MYQ)
                  </option>
                  <option value="NAG">
                    Nagpur (NAG)
                  </option>
                  <option value="NDC">
                    Nanded (NDC)
                  </option>
                  <option value="PAT">
                    Patna (PAT)
                  </option>
                  <option value="PBD">
                    Porbandar (PBD)
                  </option>
                  <option value="PNQ">
                    Pune (PNQ)
                  </option>
                  <option value="RPR">
                    Raipur (RPR)
                  </option>
                  <option value="RAJ">
                    Rajkot (RAJ)
                  </option>
                  <option value="IXR">
                    Ranchi (IXR)
                  </option>
                  <option value="RTC">
                    Ratnagiri (RTC)
                  </option>
                  <option value="SLV">
                    Shimla (SLV)
                  </option>
                  <option value="SXR">
                    Srinagar (SXR)
                  </option>
                  <option value="STV">
                    Surat (STV)
                  </option>
                  <option value="TRV">
                    Thiruvananthapuram (TRV)
                  </option>
                  <option value="TIR">
                    Tirupati (TIR)
                  </option>
                  <option value="UDR">
                    Udaipur (UDR)
                  </option>
                  <option value="BDQ">
                    Vadodara (BDQ)
                  </option>
    
                  <option value="VNS">
                    Varanasi (VNS)
                  </option>
                  <option value="VTZ">
                    Vishakhapatnam (VTZ)
                  </option>
                  
                </select>
        </div>
        <div class="col-lg-2">
            <label for="exampleDep"><strong>DEPARTURE</strong></label> 
            <input class="form-control" id="Dep" placeholder="Choose Date and Time" formControlName="departure" type="date">
        </div>
        <div class="col-lg-2">
            <label for="exampleReturn" name="return" disabled><strong>RETURN</strong></label> 
                  <input class="form-control" id="Arv" placeholder="Choose Date and Time" formControlName="arrive" type="date">
        </div>
        <div class="col-lg-2">
            <label for="NoOfpassenger"><strong>NO OF PASSENGERS</strong></label> 
                  <input class="form-control" id="NoPass" placeholder="" formControlName="NoPass" type="number">
        </div>
        <div class="col-lg-1">
            <label for="exampleFlgTo"><strong>CLASS</strong></label> <select class="form-control custom-select" formControlName="to" id="exampleFlgTo" style="width: 120px;">
                <option class="text-white bg-warning">
                  SELECT CLASS
                </option>
                <option value="Eco">
                  Economy
                </option>
                <option value="Eco">
                    Business
                  </option>
                </select>
        </div>
    </div>  <!--End of first row-->


<div class="row">
    <div class="col-lg-3">
        <button type="button" class="btn btn-info">Search for Flights</button>
    </div>
</div>
    
    
    
</div>

<div class="container" style="height: 600px; background-color:#CCC9C8; margin-top: 5px;">

   
</div>
    
<app-footer></app-footer>
